version: '3.8'

services:
  registry:
    image: registry:2
    container_name: my-registry
    ports:
      - "5000:5000"
    environment:
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /var/lib/registry
    volumes:
      - ./registry-data:/var/lib/registry
    restart: always

volumes:
  registry-data:
